:root{
    --font-family-main: 'Roboto', sans-serif;
    --font-size-m: 12px;
    --font-line-m: 16px;
    --font-m: var(--font-size-m) / var(--font-line-m) / var(--font-family-main);
    --font-size-s: 8px;
    --font-line-s: 11px;
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) / var(--font-family-main);
}
