.search {
    background:#F5F5F5;
    padding:12px 22px;
    border-radius: 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:600px;

    & input {
        background:none;
        width:100%;

        &::placeholder {
            color:#AFAFAF;
        }
    }
}