.listLabel{
    position: relative;
    margin-bottom: 20px;

    .headline{
        z-index: 5;
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        display: flex;
        align-items: center;

        .arrow{
            align-self: start;
            padding: 15px;
            cursor: pointer;

            &::before{
                content: "";
                position: absolute;
                top: 10px;
                right: 3px;
                width: 13px;
                height: 2px;
                background: #C5E4FA;
                transform: rotate(-45deg);
                transition: all ease 0.3s;
                    
            }  

            &::after{
                content: "";
                position: absolute;
                top: 10px;
                right: 11px;
                width: 13px;
                height: 2px;
                background: #C5E4FA;
                transform: rotate(45deg);
                transition: all ease 0.3s;
            }  
        }

        .arrow.opened{
            &::before{
                content: "";
                position: absolute;
                top: 5px;
                right: 3px;
                width: 13px;
                height: 2px;
                background: #C5E4FA;
                transform: rotate(45deg);
            }  

            &::after{
                content: "";
                position: absolute;
                top: 5px;
                right: 11px;
                width: 13px;
                height: 2px;
                background: #C5E4FA;
                transform: rotate(-45deg);
            }
        }
    }
}

.list{
    margin-top: 20px;
    margin-bottom: -70px;

    // position: absolute;

    .listItem{
        flex-grow: 1;
        display:flex;
        align-items: center;
        justify-content: space-between;
        color: #5E5E5E;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
 
        .checkIcon{
            cursor: pointer;
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }

        .uncheckIcon{
            cursor: pointer;
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }

        .checkIcon.checked{
            position: static;
            opacity: 1;
            visibility: visible;
        }

        .uncheckIcon.checked{
            position: static;
            opacity: 1;
            visibility: visible;
        }

        .closeIcon{
            margin-left: 5px;
            cursor: pointer;
        }
    } 

    .listItem.opened{
        opacity: 1;
        visibility: visible;
    }
}

.list.opened{
    margin-bottom: 0;
}

.text{
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 50px;
        height: 1px;
        background: gray;
        opacity: 0;
        visibility: hidden;
    }
}

.text.checked{
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 50px;
        height: 1px;
        background: gray;
        opacity: 1;
        visibility: visible;
    }

}

