.cuisines {
    text-align: center;
    margin-bottom:100px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    color: rgb(175 175 175);
    font-size: 14px;
    margin-bottom:20px;
}

.title {
    color: rgb(77 77 77);
    font-size: 28px;
    margin-bottom: 30px;
}

@media (width <=1350px) {
    .cuisines {
        margin-bottom:35px;
    }

    .title {
        margin-bottom: 20px;
    }
}

@media (width <=480px) {
    .cuisines {
        margin-bottom:15px;
    }

    .title {
        font-size:25px;
        margin-bottom:0;
    }

    .subtitle {
        font-size:12px;
        margin-bottom:15px;
    }
}

@media (width <=375px) {
    .title {
        line-height: 25px;
    }

}

