.app.dark{
    --bg-color: #4D4D4D;
    --inverted-bg-color:#FFF;
    --primary-color:#FFF;
    --secondary-color:#000;
    --inverted-primary-color:#000;
    --inverted-secondary-color:#FFF;
    --light-gray:#AFAFAF;
}