.app.dark{
    --bg-color: #4D4D4D;
    --inverted-bg-color:#FFFFFF;

    --primary-color:#FFFFFF;
    --secondary-color:#000000;
    
    --inverted-primary-color:#000000;
    --inverted-secondary-color:#FFFFFF;

    --light-gray:#AFAFAF;
}