.app.light{
    --bg-color:#fbfbfb;
    --inverted-bg-color:#4D4D4D;
    --primary-color:#000;
    --secondary-color:#FFF;
    --inverted-primary-color:#FFF;
    --inverted-secondary-color:#000;
    --light-gray:#AFAFAF;
}