.app.light{
    --bg-color:#FFFFFF;
    --inverted-bg-color:#4D4D4D;

    --primary-color:#000000;
    --secondary-color:#FFFFFF;

    --inverted-primary-color:#FFFFFF;
    --inverted-secondary-color:#000000;

    --light-gray:#AFAFAF;
}