.cuisines {
    text-align: center;
    margin-bottom:100px;
}

.subtitle {
    color: rgb(175 175 175);
    font-size: 14px;
    margin-bottom:20px;
}

.title {
    color: rgb(77 77 77);
    font-size: 28px;
}