.backgroundImages {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

.backgroundRightFruit {
    position: absolute;
    top: 0;
    right:0;
}

.backgroundLeftFruit {
    position: absolute;
    top: 0;
    left:0;
}

@media(width <=750px) {
    .backgroundImages {
        display:none;
    }
}