.dropDownList{
    position: relative;
    padding-top: 21px;

    .listLabel{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .headline{
            max-width: 230px;

            .arrow{
                align-self: start;

                &::before{
                    content: "";
                    position: absolute;
                    top: 5px;
                    right: 3px;
                    width: 13px;
                    height: 2px;
                    background: #C5E4FA;
                    transform: rotate(-45deg);
                    transition: all ease 0.3s;
                }  

                &::after{
                    content: "";
                    position: absolute;
                    top: 5px;
                    right: 11px;
                    width: 13px;
                    height: 2px;
                    background: #C5E4FA;
                    transform: rotate(45deg);
                    transition: all ease 0.3s;
                }  
            }

            .arrow.opened{
                &::before{
                    content: "";
                    position: absolute;
                    top: 5px;
                    right: 3px;
                    width: 13px;
                    height: 2px;
                    background: #C5E4FA;
                    transform: rotate(45deg);
                }  

                &::after{
                    content: "";
                    position: absolute;
                    top: 5px;
                    right: 11px;
                    width: 13px;
                    height: 2px;
                    background: #C5E4FA;
                    transform: rotate(-45deg);
                }
            }
        }

     
    }

    .list{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 0;
        top: 50px;
        transition: all 0.3s ease-in;

        .listItem{
        
        } 
    }

    .list.opened{
        top: 70px;
        left: 0;
        opacity: 1;
        visibility:visible;
    }
}